/* création de varieble */
:root{
    --back-color-a:#ffffff;
    --back-color-b:#965110;
    --back-color-c:#0c0413;
    --back-color-e:#fff;
}
/* sélection de toute la page en donnant quelque style */
*{
    margin: auto;
    padding: auto;
    position: relative;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* sélection du corps en donnant quelque style  */
body{
    width: 100%;
    /* height: 180; */
    /* min-width: 100vh; */
    margin: auto;
    position: relative;
    /* align-items: center; */
    /* justify-content: center; */
    background:var(--back-color-a);
   
}
/* sélection du conteneur en donnant quelque style egalement */
.tout{
    position: relative;
    width: 100%;
    display:flex;

    /* grid-template-columns: 2fr 2fr; */
    flex-flow: row wrap;
}
.conteneur{
    /* position: relative;
    padding: auto; */
    height: 300px;
    
    /* margin: 70px;*/
    /* width: 40%;  */
    padding: 6%;
    margin: 10px 5px;
    height: 20%;
    border: 2xp solide rgb(255, 255, 255, .2);
    backdrop-filter: 0 0 10xp rgba(0, 0, 0, .2);
    color: var(--back-color-e);
    position: center left;
    border-radius: 17% ;
    background-color:var(--back-color-b);
    /* left: 50px; */
    
}
.form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
input{
    padding: 10px;
    margin: 5px;
    left: 5px;
}
.liste{
    /* background-color:#f0af73; */
    height: 300px;
    /* width: 50%;  */
    padding: 10px;
    color:var(--back-color-e);
    margin: 10px;
    word-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
ul li {
    list-style: none;
    border: 1px solid;
    border-radius: 10%;
    margin: 10px 20px;
    background-color:var(--back-color-b);
    padding-left: 5%;
    max-width: 300px;
    overflow-wrap: break-word;
    
}
ul {
     display: flex;
     flex-flow: row wrap;
}
/* sélection de h1 pour stiliser  */
/* Animation */
@keyframes animTexte {
    0% { color: var(--back-color-a); }
    50% { color: var(--back-color-b); }
    100% { color: var(--back-color-c); }
}
.animation {
        animation: animTexte 3s infinite alternate; /* 3s pour la durée, infinite pour la répétition */
    font-size: 35px;
    font-family:'Times New Roman';
    text-align: center left;
    /* position: relative; */
    padding: -20px;
    margin: 20px;
    /* display: flex;
    flex-flow: row wrap;
     */
     /* position: absolute; */
}

img{
    position: relative;
    width: 30%;
    height: 30%;
    left: 10%;
    /* transition: transform 0.8s ease; Transition douce pour l'animation */
}
/*  sélection du boutton pour styliser */
.add-btn{
    background-color:var(--back-color-c);
    color:var(--back-color-e);
    border-radius: 20%;
    padding: 5px;
}
.phrase{
    display: flex;
    text-align: center;
    right: -10%;
    padding: 10px;

}
a{
    background-color:var(--back-color-c);
    color:var(--back-color-e);
    border-radius: 20%; 
}

#plannings-Tache{

    background-color:var(--back-color-b);
    color: var(--back-color-a);
    text-align: center;
}