/* création de varieble */
:root{
    --back-color-a:#D8B0D9;
    --back-color-b:#4E3A6E;
    --back-color-c:#8A2BE2;
    --back-color-e:#fff;
}
/* sélection de toute la page en donnant quelque style */
*{
    margin: auto;
    padding: auto;
    position: relative;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* sélection du corps en donnant quelque style  */
body{
    width: 100%;
    /* height: 180; */
    /* min-width: 100vh; */
    margin: auto;
    position: relative;
    /* align-items: center; */
    /* justify-content: center; */
    background:var(--back-color-a);
   
}
/* sélection du conteneur en donnant quelque style egalement */
.tout{
    position: relative;
    width: 100%;
    display:flex;

    /* grid-template-columns: 2fr 2fr; */
    flex-flow: row wrap;
}
.conteneur{
    /* position: relative;
    padding: auto; */
    height: 300px;
    
    /* margin: 70px;*/
    /* width: 40%;  */
    padding: 10px;
    margin: 20px;
    
    border: 2xp solide rgb(255, 255, 255, .2);
    backdrop-filter: 0 0 10xp rgba(0, 0, 0, .2);
    color: var(--back-color-e);
    
    
    background-color:var(--back-color-b);
}
.liste{
    background-color:var(--back-color-b);
    height: 300px;
    /* width: 50%;  */
    padding: 10px;
    color: var(--back-color-e);
    margin: 20px;
}
/* sélection de h1 pour stiliser  */
h1{
    font-size: 60px;
    font-family:'Times New Roman';
    text-align: center left;
    position: relative;
    margin: auto;
    padding: auto;
}
/*  sélection du boutton pour styliser */
.add-btn{
    background-color:var(--back-color-c);
    color: var(--back-color-e);
    border-radius: 20%;
}
.phrase{
    display: flex;
    text-align: center;
    right: -10%;
    padding: 10px;

}
a{
    background-color:var(--back-color-c);
    color: var(--back-color-e);
    border-radius: 20%; 
}

